<div class="container">
    <div class="container-header">
        <h3>Статистика</h3>
    </div>
    <div class="hero-unit">
        <!-- Button to trigger modal -->
        <p><a href="#myModal" role="button" class="btn btn-primary" data-toggle="modal">Добавить клиента</a></p>

        <!-- Modal -->
        <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel">Форма добавления клиента</h3>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="control-group">
                        <label class="control-label" for="inputName">Имя:</label>

                        <div class="controls">
                            <input type="text" id="inputName">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="inputLastName">Фамилия:</label>

                    <div class="controls">
                        <input type="password" id="inputLastName">
                    </div>
            </div>
                    <div class="control-group">
                    <label class="control-label" for="inputPhone">Телефон:</label>

                    <div class="controls">
                        <input type="password" id="inputPhone">
                    </div>
            </div>
                    <div class="control-group">
                        <label class="control-label" for="inputSum">Сумма:</label>

                        <div class="controls">
                            <input class="input-small" type="text" id="inputSum">
                        </div>
                    </div>

                </form>


            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">Закрыть</button>
                <button class="btn btn-primary">Сохранить</button>
            </div>
        </div>
        <table class="table table-bordered">
            <tr class="success">
                <td>Клиент/Дата</td>
                <td>Январь</td>
                <td>Февраль</td>
                <td>Март</td>
                <td>Апрель</td>
                <td>Май</td>
                <td>Июнь</td>
            </tr>
            <tr>
                <td>1</td>
                <td>1</td>
                <td>1</td>
                <td>1</td>
                <td>1</td>
                <td>1</td>
                <td>1</td>
            </tr>
            <tr>
                <td>1</td>
                <td>1</td>
                <td>1</td>
                <td>1</td>
                <td>1</td>
                <td>1</td>
                <td>1</td>
            </tr>
            <tr>
                <td>1</td>
                <td>1</td>
                <td>1</td>
                <td>1</td>
                <td>1</td>
                <td>1</td>
                <td>1</td>
            </tr>
        </table>
    </div>
</div>