<html xmlns="http://www.w3.org/1999/html">
<head>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/app.css">
    <link rel="stylesheet" href="css/datepicker.css">
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="js/bootstrap.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="/js/app.js"></script>
    <script type="text/javascript" src="/js/bootstrap-datepicker.js"></script>
</head>
<body>

<div class="navbar">
    <div class="navbar-inner">

        <ul class="nav">
            <a class="brand" href="#">Nail accounting</a></a>
            <li class="active"><a href="#">Главная</a></li>
            <li><a href="#">Статистика</a></li>
            <li><a href="#">Расходы</a></li>
            <li><a href="customers.html">Клиенты</a></li>
        </ul>
    </div>
</div>
<div class="container">
    <div class="container-header">
        <h3>Статистика</h3>
    </div>
    <div class="hero-unit">
        <!-- Button to trigger modal -->
        <p><a href="#myModal" role="button" class="btn btn-primary" data-toggle="modal">Добавить клиента</a></p>

        <!-- Modal -->
        <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel">Форма добавления клиента</h3>
            </div>
            <div class="modal-body">
                <form class="form form-horizontal" action="user/add" method="post">
                    <div class="control-group">
                        <label class="control-label" for="inputName">Имя:</label>

                        <div class="controls">
                            <input type="text" id="inputName" name="client[name]">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="inputLastName">Фамилия:</label>

                        <div class="controls">
                            <input type="text" id="inputLastName" name="client[last_name]">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="inputPhone">Телефон:</label>

                        <div class="controls">
                            <input type="text" id="inputPhone" name="client[phone]">
                        </div>

                    </div>



                    <div class="control-group">
                    <label class="control-label" for="datePicker">Дата:</label>

                    <div class="controls">
                        <input type="text" id="datePicker" name="client[service][0][date]">
                    </div>

                </div>
                    <div class="control-group">
                        <label class="control-label" for="inputService">Услуга:</label>
                        <div class="controls controls-row">
                            <select class="span2" id="inputService" name="client[service][0][name]">
                                <option>маникюр</option>
                                <option>педикюр</option>
                                <option>наращивание</option>
                            </select>
                            <input class="span2" type="text" id="inputSum" name="client[service][0][price]">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn" data-dismiss="modal" aria-hidden="true">Закрыть</button>
                        <button class="btn btn-primary">Сохранить</button>
                    </div>
                </form>


            </div>
        </div>
        <table class="table table-bordered">
            <tr class="success">
                <td>Имя</td>
                <td>Фамилия</td>
                <td>Телефон</td>
                <td>Маникюр</td>
                <td>Маникюр</td>
                <td>Педикюр</td>
                <td>Наращивание</td>
                <td>Сумма</td>
                <td>Действия</td>
            </tr>
            <% users.forEach(function(user,index){%>
            <tr>
                <td><%= user.name ? user.name : '-'%></td>
                <td><%= user.last_name ? user.last_name : '-'%></td>
                <td><%= user.phone ? user.phone : '-'%></td>
                <td><%= user.service[0] ? user.service[0].name : '-'%></td>
                <td><%= user.getServiceCountByName('маникюр') %></td>
                <td><%= user.getServiceCountByName('педикюр') %></td>
                <td><%= user.getServiceCountByName('наращивание') %></td>
                <td><%= user.getServicePriceTotal() %></td>
                <td>
                    <p><a href="#mynewServiceModal" role="button" class="btn btn-primary" data-toggle="modal" data-id="<%= user._id %>">Добавить услугу</a></p>
                </td>
            </tr>
            <%})%>
        </table>
        <!-- Modal -->
        <div id="mynewServiceModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="mynewServiceModallLabel">Форма добавления услуги</h3>
            </div>
            <div class="modal-body">
                <form class="form form-horizontal" action="user/service/edit" method="post" input type="hidden">
                    <input type="hidden" name="userId" id="userIDService" value=""/>

                    <div class="control-group">
                        <label class="control-label" for="inputDate">Дата:</label>

                        <div class="controls">
                            <input type="text" id="inputDate" name="client[service][date]">
                        </div>

                    </div>
                    <div class="control-group">
                        <label class="control-label" for="inputService">Услуга:</label>
                        <div class="controls controls-row">
                            <select class="span2" id="inputNewService" name="service[name]">
                                <option>маникюр</option>
                                <option>педикюр</option>
                                <option>наращивание</option>
                            </select>
                            <input class="span2" type="text" id="inputNewSum" name="service[price]">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn" data-dismiss="modal" aria-hidden="true">Закрыть</button>
                        <button class="btn btn-primary">Сохранить</button>
                    </div>
                </form>


            </div>
        </div>
    </div>
</div>
</body>
</html>